  .content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    flex-wrap: wrap;
  }
  
  .content-image {
    flex: 1;
    max-width: 500px;
  }
  
  .content-image img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .content-text {
    flex: 1;
    max-width: 600px;
  }
  
  .content-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #1b1f2b;
font-family: "Inter", sans-serif !important;

  }
  
  .services-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .services-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .services-list li {
    font-size: 18px;
    margin-bottom: 15px;
    color: #3a3a3a;
    display: flex;
font-family: "Inter", sans-serif !important;
    align-items: center;
  }
  
  .services-list li::before {
    content: '✔';
    color: #0046ff;
    margin-right: 10px;
  }
  
  @media (max-width: 1024px) {
    .content-section {
      flex-direction: column;
      text-align: center;
    }
  
    .content-text h2 {
      font-size: 28px;
    }
  
    .services-list {
      /* justify-content: center; */
      text-align: left;
    }
  }
  
  
  @media (max-width: 480px) {
    .content-section {
      flex-direction: column;
      text-align: center;
    }
  
    .content-text h2 {
      font-size: 28px;
    }
  
    .services-list {
      justify-content: center;
    }
  }
  